### Backend ###
**/target/

### VS Code ###
**/.vscode/

### Environment variables ###
.env

### Frontend ###
**/.gemini/
**/.github/
**/node_modules/
**/.angular/cache

## aws pem key ##
DietiKey.pem
