$bg-main: #f3f3f3;
$bg-hover: #dcdcdc; 
$white-pure: #ffffff;
$green-primary: #4caf50;
$green-hover: #45a049;
$error-red: #d32f2f;

$hero-height: 450px;          
$hero-search-offset: 40px;   

$header-height: 60px;

$home-bottom-height: 350px;


$text-xxxl: 3rem;
$text-xxl: 2.5rem;
$text-xl: 2rem;
$text-lg: 1.5rem;
$text-md: 1.2rem;
$text-base: 1rem;
$text-sm: 0.875rem;
