$bg-main: #E6E4DF;
$bg-hover: #D6D4CE; 
$snow-white: #fafafa;
$midnight-black: #1C1C1A;
$green-primary: #4caf50;
$green-hover: #45a049;
$error-red: #d32f2f;
$logo-color: #1a2a3a;
$search-bar-color:#EDECEA;

$hero-height: 450px;          
$hero-search-offset: 40px;   

$header-height: 60px;

$home-bottom-height: 350px;

$text-xxxl: 3rem;
$text-xxl: 2.5rem;
$text-xl: 2rem;
$text-lg: 1.5rem;
$text-md: 1.2rem;
$text-base: 1rem;
$text-sm: 0.875rem;

$font-titles: 'Helvetica', serif;
$font-body: 'Helvetica', sans-serif;