$bg-main: #f3f3f3;
$bg-hover: #dcdcdc; 
$white-pure: #ffffff;
$green-primary: #4caf50;
$green-hover: #45a049;
$error-red: #d32f2f;

$hero-height: 450px;          
$hero-search-offset: 40px;   

$header-height: 60px;

$home-bottom-height: 350px;