<div class="register-wrapper">
    <div class="auth-container">
        <header class="logo-box">
            <a routerLink="/" class="logo-section">
                <div class="logo-icon">
                    <i class="bx bx-home"></i>
                </div>
                <span class="logo-text">DietiEstates</span>
            </a>
        </header>

        <div class="register-card">
            <h2>Create Account</h2>
            
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-field">
                    <input type="text" id="firstNameField" formControlName="firstName" placeholder=" ">

                    <label for="firstNameField">First name</label>
                </div>

                <div class="form-field">
                    <input type="text" id="lastNameField" formControlName="lastName" placeholder=" ">
                    
                    <label for="lastNameField">Last name</label>
                </div>

                <div class="form-field">
                    <input type="email" id="emailField" formControlName="email" placeholder=" "
                        [class.is-invalid]="(isSubmitted && registerForm.get('email')?.invalid) || (serverErrorMessage && serverErrorMessage.toLowerCase().includes('email'))">
                    
                    <label for="emailField">Email</label>
                    
                    <div *ngIf="serverErrorMessage && serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                        {{ serverErrorMessage }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="input-wrapper">
                        <input [type]="hidePassword ? 'password' : 'text'" 
                        formControlName="rawPassword" 
                        id="passwordField"
                        placeholder=" "
                        [class.is-invalid]="(isSubmitted && registerForm.get('rawPassword')?.invalid) || (serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email'))">
                        
                        <label for="passwordField">Password</label>

                        <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                            <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                        </button>
                    </div>
                    
                    <div *ngIf="serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                        {{ serverErrorMessage }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="input-wrapper">
                        <input [type]="hidePassword ? 'password' : 'text'" 
                            formControlName="repeatPassword" 
                            id="repeatPassword"
                            placeholder=" " 
                            [class.is-invalid]="isSubmitted && registerForm.hasError('mismatch')">
                        
                        <label for="repeatPassword">Repeat Password</label>
                        
                        <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                            <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                        </button>
                    </div>

                    <div *ngIf="isSubmitted && registerForm.hasError('mismatch')" class="error-message">
                        Passwords do not match
                    </div>
                </div>

                <button type="submit" [disabled]="isButtonDisabled()">Register</button>
            </form>

            <div class="login-section">
                <span>Already have an account? </span>
                <button type="button" class="btn-link" (click)="goToLogin()">Go to login</button>
            </div>
        </div>
    </div>
</div>