<div class="search-bar-advanced">
    <div class="search-group search-main">
        <i class="bi bi-search search-icon"></i>
        <input 
            type="text" 
            [(ngModel)]="searchCity" 
            placeholder="Search by city or area" 
            class="search-input"
        >
    </div>

    <div class="divider"></div>

    <div class="search-right-side">
        <button (click)="onFilterClick()" class="btn-filters">
            Filters
        </button>

        <button class="btn-search-main" (click)="onSearch()">
            <i class="bi bi-geo-alt"></i> Search
        </button>
    </div>
</div>