<div class="form-wrapper"> <div class="form-card">
    <div class="auth-header">
      <h2>Welcome in DietiEstates</h2>
      <p>Choose a new password</p>
    </div>

    <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
                <label>Password</label>
                <div class="input-wrapper" style="position: relative;">
                    <input [type]="hidePassword ? 'password' : 'text'" 
                        formControlName="newPassword" placeholder="password"
                        [class.is-invalid]="(isSubmitted && setupForm.get('newPassword')?.invalid) || (serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email'))">
                    
                    <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                        <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                </div>
                
                <div *ngIf="serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                    {{ serverErrorMessage }}
                </div>
            </div>

            <div class="form-field">
                <label>Repeat Password</label>
                <input [type]="hidePassword ? 'password' : 'text'" 
                    formControlName="repeatPassword" 
                    placeholder="Repeat password"
                    [class.is-invalid]="isSubmitted && setupForm.hasError('mismatch')">
                
                <div *ngIf="isSubmitted && setupForm.hasError('mismatch')" 
                    class="error-message">
                    Passwords do not match
                </div>
            </div>
          <button type="submit" [disabled]="isButtonDisabled()">Activate Account</button>
    </form>
  </div>
</div>