<div class="form-wrapper">
    <div class="auth-container">
        <header class="logo-box">
            <a routerLink="/" class="logo-section">
                <div class="logo-icon">
                    <i class="bx bx-home"></i>
                </div>
                <span class="logo-text">DietiEstates</span>
            </a>
        </header>

        <div class="form-card">
            <h2>Welcome to DietiEstates</h2>
            <p>Choose a new password</p>

            <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <div class="input-wrapper">
                        <input [type]="hidePassword ? 'password' : 'text'" 
                               formControlName="newPassword" 
                               id="newPassword"
                               placeholder=" " 
                               [class.is-invalid]="(isSubmitted && setupForm.get('newPassword')?.invalid || serverErrorMessage)">
                        
                        <label for="newPassword">Password</label>

                        <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                            <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                        </button>
                    </div>
                    
                    <div *ngIf="serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                        {{ serverErrorMessage }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="input-wrapper">
                        <input [type]="hidePassword ? 'password' : 'text'" 
                            formControlName="repeatPassword" 
                            id="repeatPassword"
                            placeholder=" " 
                            [class.is-invalid]="isSubmitted && setupForm.hasError('mismatch')">
                        
                        <label for="repeatPassword">Repeat Password</label>
                        
                        <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                            <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                        </button>
                    </div>

                    <div *ngIf="isSubmitted && setupForm.hasError('mismatch')" class="error-message">
                        Passwords do not match
                    </div>
                </div>

                <button type="submit" [disabled]="isButtonDisabled()">Activate Account</button>
            </form>
        </div>
    </div>
</div>