@import '../../../styles/auth-shared';
@import '../../../styles/searchBar-shared';
@import '../../../styles/variables';
@import '../../../styles/header';
@import '../../../styles/hero-section';
@import '../../../styles/animations';

.top-section
{
  @include fade-in-up(0.2s);

  position: relative;
  max-width: 1300px;      
  margin: 30px auto;      
  background-color: $white-pure; 
  border-radius: 12px;    
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08); 
  overflow: hidden;

  .loading-overlay 
  {
    @include loading-overlay-style;
  }

  .main-header 
  {
    @include main-header-styles;
  }

  .hero-section 
  {
    @include hero-section;
  }
}

