<div class="login-wrapper">
    <div class="auth-container">
        <header class="logo-box">
            <a routerLink="/" class="logo-section">
                <div class="logo-icon">
                    <i class="bx bx-home"></i>
                </div>
                <span class="logo-text">DietiEstates</span>
            </a>
        </header>


        <div class="login-card">
            <h2>Login</h2>
            
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-field">
                    <input type="email" id="emailField" formControlName="email" placeholder=" "
                        [class.is-invalid]="(isSubmitted && loginForm.get('email')?.invalid) || serverErrorMessage">
                    
                    <label for="emailField">Email</label>
                    
                    <div *ngIf="serverErrorMessage && serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                        {{ serverErrorMessage }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="input-wrapper" style="position: relative;">
                        <input [type]="hidePassword ? 'password' : 'text'" id="passwordField" formControlName="rawPassword"  placeholder=" "
                            [class.is-invalid]="(isSubmitted && loginForm.get('rawPassword')?.invalid) || serverErrorMessage">
                        
                        <label for="passwordField">Password</label>
                        
                        <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
                            <i [className]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                        </button>
                    </div>

                    <div *ngIf="serverErrorMessage && !serverErrorMessage.toLowerCase().includes('email')" class="error-message">
                        {{ serverErrorMessage }}
                    </div>
                </div>
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>

            <div class="register-section">
                <span>Don't have an account? </span>
                <button type="button" class="btn-link" (click)="goToRegister()">Register now</button>
            </div>
        </div>
    </div>
</div>