@use 'form-shared' as *;
@use 'variables' as *;
@use 'animations' as *;
@use 'logo-section' as *;

.login-wrapper 
{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    width: 100%;
    background: $bg-main;

    .auth-container 
    {
        width: 600px; 
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include entrance-animation(0.5s);

        .logo-box, .login-card 
        {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
        }

        .logo-box 
        {
            background: $snow-white;
            padding: 35px; 
            border-radius: 20px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.04);
            display: flex;
            justify-content: center;

            .logo-section 
            {
                @include logo-section;   
            }
        }

        .login-card 
        {
            @include form-card(600px, $text-xxl); 
            
            h2 
            {
                text-align: center;
                font-size: $text-xxl;
                margin-bottom: 70px;
                color: $logo-color ;
            }

            .form-field
            { 
                @include form-field-structure;
            }

            .forgot-password-wrapper
            {
                margin-top: 25px;
                margin-bottom: 5px;
                margin-left: 5px;
                text-align: left;

                span 
                {
                    cursor: pointer; 
                    display: inline-block;
                    
                    color: $form-gray-muted;
                    font-weight: 600;
                    transition: all 0.2s ease;

                    &:hover 
                    {
                        color: $form-black;
                        text-decoration: underline;
                    }

                    &:active 
                    {
                        transform: scale(0.98);
                        opacity: 0.5;
                    }
                }
            }

            button[type="submit"] { @include form-button-black; width: 100%; }
            .register-section { @include form-footer-section; }
        }
    }
}