@use 'form-shared' as *;
@use 'variables' as *;
@use 'animations' as *;


.forgot-wrapper 
{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    width: 100vw;
    background: $bg-main;

    .auth-container 
    {
        width: 600px; 
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include entrance-animation(0.5s);

        .logo-box, .forgot-card 
        {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
        }

        .logo-box 
        {
            background: $white-pure;
            padding: 35px; 
            border-radius: 20px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.04);
            display: flex;
            justify-content: center;

            .logo-section 
            {
                display: flex;
                align-items: center;
                gap: 15px;
                text-decoration: none;

                .logo-icon i 
                {
                    font-size: $text-xxxl;
                    color: #1a2a3a;
                }

                .logo-text 
                {
                    font-size: $text-xxxl; 
                    font-weight: 800;
                    color: #1a2a3a;
                    letter-spacing: -1.5px;
                    line-height: 1;
                }
            }
        }

        .forgot-card 
        {
            @include form-card(600px, $text-xxl); 
            
            h1 
            {
                text-align: center;
                font-size: $text-xxl;
                margin-top: -10px;
                margin-bottom: -10px;
                color: #1a2a3a;
            }

            p 
            { 
                text-align: center;
                color: rgba(0, 0, 0, 0.6); 
                font-size: $text-lg;
            }

            .form-field
            { 
                @include form-field-structure;
            }

            button[type="submit"] { @include form-button-black; width: 100%; }
        }
    }
}