@use 'variables' as *;
@use 'form-shared' as *;
@use 'animations' as *;


.general-info-container 
{
    .form-row 
    {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        .form-field { flex: 1; }
    }

    .form-field 
    { 
        @include form-field-structure; 
        @include entrance-animation(0.2s, 10px);

        select 
        {
            @extend input;
            appearance: none; 
            -webkit-appearance: none;
            cursor: pointer;
            padding-right: 40px;    
        }

        .select-icon 
        {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            font-size: 24px;
            color: #888;
        }

        textarea 
        {
            @extend input;
            min-height: 120px;
            padding-top: 15px;
            
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label { top: 0;}
        }

    }

    .info-text 
    {
        margin-top: 20px;
        font-size: $text-sm;
        color: $form-gray-muted; 
        transition: all 0.3s ease;

        &.error-active 
        {
            color: $error-red; 
            font-weight: 600;
            animation: step-shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
        }
    }
}

