<div class="location-container" *ngIf="parentForm" [formGroup]="locationGroup">
  <h2 class="step-title">Inserisci la Posizione e le Dimensioni</h2>

  <div class="form-field address-field">
    <div class="input-wrapper">
      <input type="text" id="listingAddress" formControlName="address" placeholder=" " autocomplete="off">
      <label for="listingAddress">Indirizzo Completo</label>
      
      <div class="loader-icon" *ngIf="isSearching">
        <i class='bx bx-loader-alt bx-spin'></i>
      </div>
    </div>

    <div class="suggestions-panel" *ngIf="suggestions.length > 0">
      <div class="suggestion-item" *ngFor="let s of suggestions" (click)="selectAddress(s)">
        <i class='bx bxs-map'></i>
        <div class="suggestion-text">
          <span class="main-address">{{ s.main_text }}</span>
          <span class="sub-address">{{ s.secondary_text }}</span>
        </div>
      </div>
    </div>

    <div class="error-message" *ngIf="locationGroup.get('address')?.invalid && locationGroup.get('address')?.touched">
      Indirizzo richiesto
    </div>
  </div>

  </div>